<div class="navbar fixed-bottom navbar-expand-sm navbar-dark navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-home"></i>
    <% end %>
  <a class="nav-link" href="#"><i class="fas fa-inbox"></i></a>
</div>
