<div class="navbar fixed-bottom navbar-expand-sm navbar-dark navbar-lewagon">
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-home"></i>
    <% end %>
  <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
  <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
  <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
</div>
