<h1>Welcome to CrewCall UIKit</h1>

<h3>Search Field</h3>
<h3>Type Field</h3>
<h3>Bottom Nav Bar</h3>
<h3>Project Card</h3>
<h3>Buttons</h3>

<%= link_to "Book now", "#", class: "btn btn-flat" %>

<h3>Avatar</h3>
