<h1>Welcome to CrewCall UIKit</h1>

<h3>Search Field</h3>
<h3>Type Field</h3>
<h3>Bottom Nav Bar</h3>
<h3>Project Card</h3>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Project name</h2>
    <p>Project description with <strong>relevant info</strong> only.</p>
  </div>
</div>



<h3>Buttons</h3>

<%= link_to "Book now", "#", class: "btn btn-flat" %>

<h3>Avatar</h3>

<%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
