<h1>Start a new Project</h1>
<%= simple_form_for(@project) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <!-- date picker -->
  <%= f.submit "Submit", class: "btn btn-flat" %>
<% end %>

