.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 30px;
  background: #03203A;
  transition: background 0.3s ease;
  text-transform: capitalize;
}

.btn-flat:hover {
  background: #03203A;
  color: white;
}

.btn-success {
  margin: 4px;
  padding: 4px 24px;
  border-radius: 30px;
  transition: background 0.3s ease;
  text-transform: capitalize;
}

.btn-warning {
  margin: 4px;
  padding: 0px 24px;
  border-radius: 30px;
  transition: background 0.3s ease;
  text-transform: capitalize;
}

.btn-danger {
  margin: 4px;
  color: white;
  padding: 8px 24px;
  border-radius: 30px;
  background: $red;
  transition: background 0.3s ease;
  text-transform: capitalize;
}

.btn-primary {
  padding: 8px 24px;
  border-radius: 30px;
  transition: background 0.3s ease;
  text-transform: capitalize;
}

.btn-primary:hover {
  background: #03203A;
  color: white;
}
