.navbar-lewagon {
  justify-content: space-between;
  background-color: #03203A;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-dark a {
  color: gray;

  &:hover {
    color: white;
  }

  i .main-icon {
    position: absolute;
  }

  i.navbar-badge {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #FD494C;
    bottom: 7px;
    right: 11px;
    font-size: .75rem;
  }
}
