.card-product {
  height: 111px;
  width: 100%;
  background-color: #03203A;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  .project-image {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;

  }
  .card-product-infos {
    padding: 4px 16px;
  }
}

  .card-avatar-infos {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 0.75rem;
}
  .card-product-infos .avatar-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }



