.submissions {
  width: 100%;
  background-color: #03203A;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  padding: 8px;

  p {
    opacity: .7;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .submissions-user {
    padding: 4px 0px;
    border-top-width: 1px;
    border-top-color: #DDD9E1;
    border-top-style: solid;

    a {
      color: white;
    }
  }
}
